.chartExample {
  width: 100%;
  height: 100%;

  .editPage {
    width: 100%;
    height: 100%;
    padding: 16px;

    .header {
      height: 16px;
      width: max-content;
      display: flex;
      align-items: center;
      gap: 0 8px;
      font-size: 14px;
      color: rgba(0,0,0,0.85);
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        color: #1677ff;
      }
    }

    .content {
      height: calc(100% - 50px);
      width: 100%;
      margin-top: 9px;
      display: flex;
      gap: 0 16px;

      .editor {
        width: 40%;
        height: 100%;
      }

      .chart {
        width: 60%;
        height: 100%;
        position: relative;
        padding: 12px;
        box-shadow: 0px 0 6px 0px rgba(4,53,90,0.1);

        .tips {
          color: #e43c59;
          font-size: 14px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      >div {
        height: 100%;
      }
    }

    :global {
      // 分割线
      .ant-divider-horizontal.ant-divider-with-text {
        margin: 0;
        color: rgba(0,0,0,0.65);
        font-size: 16px;
      }
    }
  }

  .cardList {
    width: 100%;
    height: calc(100% - 48px);
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    gap: 16px;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;

    .card {
      width: calc((100% - 64px) / 5);
      height: calc((100% - 36px) / 3);
      background: #FFFFFF;
      box-shadow: 0px 0 6px 0px rgba(4,53,90,0.1);
      padding: 12px;
      border-radius: 8px;
      transition: 0.5s;
      position: relative;
      overflow: hidden;

      .bg {
        width: auto;
        max-width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        padding: 12px;
      }

      .content {
        width: 100%;
        height: 100px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.85);
        transform: translateY(100%);
        opacity: 0;
        transition: 0.5s;
        padding: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .infoRow {
          display: flex;
          justify-content: space-between;
        }

        .text {
          font-size: 14px;
          font-family: "Source Han Sans CN-Regular";
          color: rgba(0,0,0,0.85);
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          >span {
            color: rgba(0,0,0,0.65);
          }
        }

        .operateRow {
          display: flex;
          justify-content: flex-end;
          gap: 0 16px;

          .icon {
            width: 20px;
            height: 20px;
            cursor: pointer;
            color: #9a9a9a;
            transition: all 0.3s;

            >svg {
              width: 100%;
              height: 100%;
            }

            &:hover {
              color: #1677ff;
            }
          }
        }
      }

      &:hover {
        .content {
          transform: translateY(0);
          opacity: 1;
        }

        box-shadow: 0px 0 0.3125vw 0px #91caff;
      }
    }
  }

  :global {
    // 分页样式
    .ant-pagination .ant-pagination-total-text {
      color: rgba(0,0,0,0.65);
      position: absolute;
      left: 0;
      display: flex;
      align-items: center;
      height: 100%;
    }
    .ant-pagination {
      font-size: 14px;
      display: flex;
      justify-content: flex-end;
      position: absolute;
      width: calc(100% - 32px);
      height: max-content;
      bottom: 16px;
      left: 16px;
    }
    .ant-pagination .ant-pagination-prev {
      min-width: 32px;
      height: 32px;
      line-height: 32px;
      margin-inline-end: 8px;
      >button {
        font-size: 12px;
      }
    }
    .ant-pagination .ant-pagination-next {
      min-width: 32px;
      height: 32px;
      line-height: 32px;
      >button {
        font-size: 12px;
      }
    }
    .ant-pagination .ant-pagination-item {
      min-width: 32px;
      height: 32px;
      margin-inline-end: 8px;
      line-height: 30px;
      border-radius: 6px;
    }
  }
}

:global {
  // 提示文本
  .ant-tooltip {
    font-size: 14px;
    max-width: 250px;
    //transform-origin: var(11px, 50%) var(23px, 50%);
    --antd-arrow-background-color: rgba(0, 0, 0, 0.85);
  }

  .ant-tooltip .ant-tooltip-arrow {
    width: 16px;
    height: 16px;

    &::before {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      width: 8.970562748477143px;
      height: 8.970562748477143px;
      border-radius: 0 0 2px 0;
      transform: translateY(50%) rotate(-135deg);
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
      z-index: 0;
      background: rgba(0, 0, 0, 0.85);
    }
  }

  .ant-tooltip .ant-tooltip-inner {
    min-width: 32px;
    min-height: 32px;
    padding: 6px 8px;
    border-radius: 6px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  }
}